<!DOCTYPE html>
<html>
<head>
    <title>Gerenciador de Provas da Escola</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container mt-3">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
        <p>Logado como {{ current_user.username }} | <a href="/logout">Logout</a></p>
        <a href="/add" class="btn btn-success mb-3">Adicionar Nova Prova</a>
        <h1>Próximas Provas</h1>
    
    <div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for test in tests %}
        <div class="col">
            <div class="card h-100">
                {% if test.image_url %}
                <img src="{{ test.image_url }}" class="card-img-top" alt="Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ test.subject }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ test.date }}</h6>
                    <p class="card-text">{{ test.description }}</p>
                    <p class="card-text"><small class="text-muted">Adicionado por {{ test.author.username }}</small></p>
                    <a href="/edit/{{ test.id }}" class="btn btn-warning me-2">Edit</a>
                    <a href="/delete/{{ test.id }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% else %}
        <p>Nenhuma Prova</p>
        {% endfor %}
    </div>
    </div>
</body>
</html>